.chat-empty {
  width: 768px;
  height: 720px;
  background-color: var(--pale-grey);
  display: inline-block;
}

.rectangle-copy-empty {
  position: relative;
  width: 768px;
  height: 720px;
  border-radius: 8px;
  border: solid 1px #efeff4;
  background-color: #ffffff;
}

.start-messaging-agen-empty {
  position: absolute;
  top: 400px;
  left: 200px;
  width: 320px;
  height: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #94a4ba;
}

.avatar {
  position: relative;
  top: 20px;
  left: 20px;
  /* border: solid 1px; */
  height: 24px;
  width: 24px;
}
.chat-full {
  /* display: inline-block; */
  width: 768px;
  height: 720px;
  background-color: var(--pale-grey);
}
.rectangle-copy {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #efeff4;
  background-color: #ffffff;
}
.start-messaging-agen {
  /* position: absolute;
  top: 400px;
  left: 20px; */
  width: 100%;
  height: 90%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #94a4ba;
  overflow: scroll;
}
.no-Message {
  width: 320px;
  height: 352px;
  position: absolute;
  left: 220px;
  top: 100px;
  object-fit: contain;
}

.rectangle {
  width: 768px;
  height: 67px;
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.rectangle {
  width: 768px;
  height: 67px;
  /* position: absolute; */
  /* bottom: 5px; */
  /* left: 30px; */
  display: flex;
}

.write-a-message {
  width: 648px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #94a4ba;
}
/*.message {
   width: 40px;
  height: 24px;
  object-fit: contain; 
}*/

.message {
  width: 22px;
  height: 24px;
  object-fit: contain;
}

.their-msg {
  padding-top: 10px;
  width: 65%;
  min-height: 50px;
  border-radius: 15px;
  border: solid 1px #efeff4;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  left: 50px;
  bottom: 20px;
  text-align: center;
}

.my-msg {
  padding-top: 10px;
  margin-left: 400px;
  width: 70%;
  border-radius: 15px;
  background-color: #94a4ba;
  color: #ffffff;

  word-wrap: break-word;
  /* float: right; */
  margin-left: 200px;
  position: relative;
  /* left: 50px; */
  bottom: 20px;
  max-width: 85%;
  box-sizing: inherit;
  min-height: 50px;
}

.icon-img {
  grid-row: span 2;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
